<%= subscribe_to "/wiggles/#{@wiggle.id}" %>

<%= content_tag :h1, @wiggle.name %>
<%= content_tag :p, @wiggle.description %>

<div class = "average-area">
  <div style = "width: 400px; height: 320px; display: inline-block;">
    <div id="gauge"></div>  
  </div>

</div>

<% if current_user %>
  <%= render "your_opinion_controls" %>
<% end %>

<%= content_for :page_specific_js do %>
<script>
  $(document).ready(function() {
    new WiggleShowPageReady(<%= @wiggle.average_opinion %>, <%= @opinion ? @opinion.value : 0 %>,'<%= @opinion ? url_for(@opinion) : "" %>' );
  });
</script>
<% end %>
