%h1= @wiggle.name

%p= @wiggle.description

%div{:style => "text-align:center;"}
  %canvas#wiggly_line
  = render :partial => "your_opinion_controls" if current_user

= content_for :page_specific_js do 
  = subscribe_to "/wiggles/#{@wiggle.id}" 

  :coffeescript    
    $ ->
      new WiggleShowPageReady(#{@wiggle.average_opinion}, #{@opinion ? @opinion.value : 0},'#{ @opinion ? url_for(@opinion) : "" }' );    

