%h1= @wiggle.name

%p Broadcasting #{short_date(@wiggle.start)} to #{short_date(@wiggle.end)}

%p= @wiggle.description

%div{:style => "text-align:center;"}
  %canvas[@wiggle]{:data =>{:average => @wiggle.average_opinion } }
  = render :partial => "your_opinion_controls" if current_user

= content_for :page_specific_js do 
  = subscribe_to @wiggle.channel 

  :coffeescript    
    $ ->
      new WiggleShowPageReady(#{@wiggle.average_opinion}, #{@opinion ? @opinion.value : 0},'#{ @opinion ? url_for(@opinion) : "" }');    

