<%= 
  viewbag   :initial_average  => @wiggle.average_opinion,
            :initial_opinion  => @your_opinion_value,
            :update_url       => @update_url
%>

<%= subscribe_to "/wiggles/#{@wiggle.id}" %>

<%= content_tag :h1, @wiggle.name %>
<%= content_tag :p, @wiggle.description %>

<div class = "average-area">
  <div style = "width: 400px; height: 320px; display: inline-block;">
    <div id="gauge"></div>  
  </div>

</div>

<% if current_user %>
  <hr style = "border: none;" />
  <div style = "text-align: center">
    <a href = "#" class = "opinion-button opinion-down">DOWN!</a>
    <a href = "#" class = "opinion-button opinion-up">UP!</a>
  </div>

  <div class = "your-opinion-controls">
    <p><strong>Your opinion:</strong> <span data-bind="text: yourOpinion"></span><p>
    <%= range_field_tag :your_opinion, @your_opinion_value, :in => (0..100), :step => 1, :data => {:bind => "value: yourOpinion"} %>
  </div>
<% end %>

<%= content_for :page_specific_js do %>
<script>
  $(document).ready(function() {
    new WiggleShowPageReady();
  });
</script>
<% end %>
