<!DOCTYPE html>
<html>
<head>
  <title>Wiggler</title>
  <%= stylesheet_link_tag    "application", media: "all" %>

  <%= yield :viewbag %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag_with_check params[:controller] %>
  <%= yield :page_specific_js %>

  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render "layouts/shared/top_nav" %>
  <br style = "clear: both;" />
  <div class = "container">
    <%= yield %>
  </div>

</body>
</html>
